.hero {
  width: 100%;
  height: 460px;
  background-color: #f6f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.quickStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.quickStart h2 {
  font-weight: 200;
  font-size: 26px;
}

.paddedContainer {
  margin-left: 20px;
  margin-right: 20px;
}

nav.toc .toggleNav .navGroup.navGroupActive {
  background: #ffffff;
  color: #393939;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
