.nav-drawer .section {
  display: flex;
  flex-direction: column;
}

.nav-drawer {
  background-color: #f6f4f4;
  padding: 20px;
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
}

.nav-drawer .section .module {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin-left: 5px;
}

.nav-drawer .section a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin: 5px;
  margin-left: 10px;
}
